# Python Programming Basic Assignment

### 1.	Write a Python Program to Find the Factorial of a Number?

In [ ]:
def factorial(n):
    if n<0 :
        return ("Negative input, cannot calculate factorial")
    elif n==0:
        return ("Factorial is 1")
    else : 
        fact = 1
        for i in range(1,n+1):
            fact = fact * i 
        return "Factorial is ", fact

In [ ]:
factorial(-10)

In [ ]:
factorial(0)

In [ ]:
factorial(5)

### 2.	Write a Python Program to Display the multiplication Table?

In [ ]:
def multable(n):
    for i in range(11):
        print(n ," X ",i," = ",n*i)

In [ ]:
multable(25)

### 3.	Write a Python Program to Print the Fibonacci sequence?

In [ ]:

def fibo(n):
    sum = 0 
    a = 0
    b = 1
    for i in range(n+1):
        print (sum)
        a,b = b,sum
        sum = a +b;

In [ ]:
fibo(7)

### 4.	Write a Python Program to Check Armstrong Number?

In [47]:
def armstrong(n):
    ans = 0
    dup = n
    order = len(str(n))
    while dup>0:
        i = dup%10
        ans = ans +(i**order)
        dup = dup//10
    if ans== n:
        return("Armstrong number")
    else:
        return("Not an armstrong number")

In [53]:
armstrong(153)

'Armstrong number'

### 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [38]:
def rangearmstrong(l,u):
    lt=[]
    for n in range(l,u+1):
        order = len(str(n))
        ans = 0
        dup = n
        while dup>0:
            i = dup%10
            ans = ans +(i**order)
            dup = dup//10
        if ans== n:
            lt.append(n)
    return lt

In [54]:
rangearmstrong(50,100000)

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

### 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [58]:
def sumnatural(n):
    if n<1:
        print("Natural numbers begin from 1 , please enter a valid input")
    else : 
        ans = 0
        for i in range(n+1):
            ans+=i 
        return "SUM of numbers upto ",n, " is ", ans

In [59]:
sumnatural(10)

('SUM of numbers upto ', 10, ' is ', 55)